
<!DOCTYPE html>
<html lang="en">
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


<br><br>
  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Electronics</h1>
      The electronics fundamentals course teaches the basics of electronic devices, circuits,
       and systems. Students learn about Ohm's Law, circuit analysis techniques, and electronic
        components such as resistors, capacitors, and transistors.
    <br>
    <br>
    <button class="button">Start Course</button>

    </div>
    <!--<div class="w3-third w3-container">
        <p class="w3-center"><img src="d.jpg" width="500" height="350" alt="Italian Trulli"></p>

    </div>-->
  </div>

     <div class="w3-row">
        <div class="w3-twothird w3-container">
          <h1 class="w3-text-teal">Physics</h1>
          A physics course teaches the fundamental principles governing the natural world,
           from classical mechanics to quantum physics. Students learn to solve problems
            and analyze physical phenomena using mathematical models and experimental data.
        <br>
        <br>
        <button class="button">Start Course</button>

        </div>
        <!--<div class="w3-third w3-container">
        <p class="w3-center"><img src="d.jpg" width="500" height="350" alt="Italian Trulli"></p>

    </div>-->
      </div>
      <div class="w3-row">
        <div class="w3-twothird w3-container">
          <h1 class="w3-text-teal">Web Develoment</h1>
          Web development is the work involved in developing a website for the Internet (World Wide Web) or an intranet (a private network).
        <br>
        <br>
        <button class="button">Start Course</button>

        </div>
        <!--<div class="w3-third w3-container">
        <p class="w3-center"><img src="d.jpg" width="500" height="350" alt="Italian Trulli"></p>

    </div>-->
      </div>
         </body>


</html>
