<!DOCTYPE html>
<html lang="en">
<head>
<title>Overview</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body><br>
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Navigation</b></h4>

  <a class="w3-bar-item w3-button w3-hover-black" href="#">E-Learning</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Application</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Sports</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Finance</a>
  <a class="w3-bar-item w3-button w3-hover-black" href="#">Dashboard</a>
  <a class="w3-bar-item w3-button w3-hover-black" routerLink="/extra">External Knowledge</a>
</nav>
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<div class="w3-main" style="margin-left:250px">
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <div class="col-md-6">
        <h2> المعهد العلى للحاسبات و تكنولجيا المعومات </h2>
        <h4><p> قرار الإنشاء 9 يونيو 2001 حيث ينقسم إلى الأقسام التالية : </p>
        <ul>
          <li> قسم علوم الحاسب </li>
          <li> قسم نظم معلومات إدارية </li>
          <li> قسم محاسبة </li>
        </ul>
        <p> جميع الأقسام معتمدة من قبل وزارة التعليم العالى المصرية ومعادلة من قبل المجلس الأعلى للجامعات المصرية (مما يتيح منح نفس الحقوق والواجبات التي تمنحها الجامعات الحكومية المصرية كالتسجيل فى النقابات والتسجيل فى الدراسات العليا). مدة الدراسة 4 سنوات دراسية بجميع الأقسام للحصول على درجة البكالوريوس. التسجيل فى القسم فى الفرقة الأولى. </p>
        <p> قسم علوم الحاسب الدراسة به باللغة الإنجليزية ، وقسم نظم معلومات إدارية الدراسة به باللغة الإنجليزية والعربية ، وقسم محاسبة الدراسة به باللغة العربية </p></h4>
      </div></div>

    <div class="w3-third w3-container">
      <p class=" w3-center"><img src="assets\imge\4hada1.jpg" width="500" height="350" alt="Italian Trulli">
      </p>
    </div>
  </div>

<br><br><br>
  <div class="w3-row">
    <div class="w3-twothird w3-container">
      <div class="col-md-6">
        <h2> المعهد العالى للهندسة </h2>


        <h4><p> 	أنشئ المعهد العالى للهندسة عام 1995 بالقرار الوزارى الصادر من وزارة التعليم العالى رقم 1712 بتاريخ 22/11/1995، وقد كان مقر المعهد وقتئذٍ (مدينة العاشر من رمضان ) وكانت عدد برامج المعهد خمسة برامج أكاديمية ( هندسة الاتصالات – الهندسة الطبية – الهندسة الكيميائية – هندسة القوى والآلات الكهربية – الهندسة المعمارية ). </p>
        <p> 	انتقل المعهد العالى للهندسة إلى مقره الجديد بضاحية النخيل بمدينة الشروق مع بداية الفصل الثانى للعام الدراسى 1999/2000 بعد موافقة وزارة التعليم العالى على النقل بالقرار الوزارى رقم 712 بتاريخ 31/5/2000 . </p>
        <p> 	قامت إدارة المعهد بإنشاء قسم الهندسة المدنية بالقرار الوزارى رقم 1437 بتاريخ 10/9/2000 وقد بدأت الدراسة به اعتبارا  من العام الدراسى 2000/2001 ليصبح عدد الأقسام العلمية بالمعهد عدد (6) أقسام بالإضافة الى قسم الرياضيات والفيزياء الهندسية  </p>
        <p>	قامت إدارة المعهد بتطوير اللائحة الدراسية للبرنامج المختلفة وإشتمل برنامج الهندسة الكيميائية شعبة جديدة لهندسة تصنيع البترول "البرتوكيماويات"وإعتمدت اللائحة بالقرار الوزارى  ( 2381 ) بتاريخ 4 / 7 / 2019 وقد بدأ العمل بها فى العام الجامعى 2019/2020 </p>
      </h4></div>
    <br>
    <b>Interested ?!</b>
    <br>
    <br>
    <button class="button">More Details!</button>

    </div>
    <br>
    <br>
    <div class="w3-third w3-container">
        <p class="w3-center"><img src="assets\imge\2شهادة-اعتماد-الجوده.jpg" width="500" height="350" alt="Italian Trulli"></p>

    </div>
  </div>
</div>
     </body>

</html>


