<app-navlogin></app-navlogin>
    <form  style="margin-top: 100px;" >
      <div class="logo-container">

      </div>
      <h2 class=" ha5a" st> Update profile </h2><br>

<fieldset>
  <label for="email">Email:</label>

  <input type="text" placeholder="Enter Email" [(ngModel)]="email" name="Email" required>
  <label for="name">Name:</label>

  <input type="text" placeholder="Enter Username" [(ngModel)]="name" name="uname" required>



  <label for="password">Password:</label>

  <input type="password" placeholder="Enter password" [(ngModel)]="password" name="psw" required>

  <!--<label for="password">Re-Password:</label>

  <input type="password" placeholder="Enter password" name="psw" required>
  -->
  <label for="number">Code:</label>

  <input type="text" placeholder="Enter Number" [(ngModel)]="code" name="code" required>

<label for="phone">Phone Number:</label>

<input type="text" placeholder="Enter Email"  name="phone" [(ngModel)]="phone" required>
<label for="Adress">Adress:</label>

<input type="text" placeholder="Enter Username"  name="uname" [(ngModel)]="address" required>



<label for="photo">choose photo:</label>

<input type="file" placeholder="choose file"name="psw" [(ngModel)]="photo" required>

<!--<label for="password">Re-Password:</label>

<input type="password" placeholder="Enter password" name="psw" required>
-->
<label>Role:</label>
  <input type="radio" id="under_13" value="Professor" [(ngModel)]="job" name="user_age"><label for="under_13"
      class="light">Professor</label><br>
  <input type="radio" id="over_13" value="Teacher Assistant" [(ngModel)]="job" name="user_age"><label for="over_13"
      class="light">Teacher Assistant</label><br>
  <input type="radio" id="under_13" value="Student" [(ngModel)]="job" name="user_age"><label for="under_13"
      class="light">Student</label>
</fieldset>
<br>
<label for="job" >Job Role:</label>
<select name="role_job"  class="job" [(ngModel)]="role_job"  (ngModelChange)="role_job=$event">

  <optgroup label="Engineering">
      <option value="Communications">Communications</option>
      <option value="Civil Enginner">Civil Enginner</option>
      <option value="Electrical">Electrical</option>
      <option value="Bio Medicaal">Bio Medicaal</option>
      <option value="Chemical">Chemical</option>
      <option value="Architecture">Architecture</option>
  </optgroup>
  <optgroup label="Mass Communications">
      <option value="Radio & Television">Radio & Television</option>
      <option value="Public Relation">Public Relation</option>
  </optgroup>
  <optgroup label="Business">
      <option value="Accounting & Markiting">Accounting & Markiting</option>
      <option value="Business Information">Business Information</option>
  </optgroup>
</select>
<br>

<button type="submit" (click)="updateProfile()">Update</button></form>
