


form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #F4F7F8;
  border-radius: 8px;

}

h1 {
  margin: 0 10 30px 0;
  text-align: center;
  color: black;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="file"],
textarea,
select {
  background: rgba(255, 255, 0, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #E8EEEF;
  color: #0B0B0C;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 8px;
  height: 38px;
  border-radius: 20px;

}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #04AA6D;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 50%;
  border: 1px solid #04AA6D;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(6, 238, 76, 0.1) inset;
  margin-bottom: 10px;
  margin-left: 25%;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.5em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #04AA6D;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
      max-width: 500px;
  }
}

.logo-container>img {
  margin-bottom: 2em;
  width: 120px;
  scale: auto;

}

.logo-container {
  margin: auto;
  width: fit-content;
/*background-image: url(./logo.png);
  height: 192px;
  background-repeat: no-repeat; */

}

form {
  padding-top: 2em;

  margin-top: 4.5em;
}

textarea {
  resize: vertical;
}
.ha5a {
  text-align: center;
}




