body{
  margin-top:20px;
  background:#eee;
  color: #708090;
height: 780px;

}
.icon-1x {
  font-size: 24px !important;
}
a{
  text-decoration:none;
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
  color: #00ADBB!important;
}
.text-black, .text-hover-black:hover {
  color: #000 !important;
}
.font-weight-bold {
  font-weight: 700 !important;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 100%;
  margin-bottom: 11.5%;
}


.button2 {background-color: #008CBA;} /* Blue */


.container{
  margin-bottom: 20%;
  margin-left: 16%;
}
.button {
  background-color: #18c784; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
font-family: Open Sans;
}

section {
width: 100%;
display: inline-block;
background: #333;
height: 50vh;
text-align: center;
font-size: 22px;
font-weight: 700;
text-decoration: underline;
z-index: 1;
}
nav{
  width: auto;
}
